<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/506f7962-22aa-470f-a6c8-8ee7d2e297f6/resourceGroups/miso-rg/providers/Microsoft.ContainerRegistry/registries/GeneracionOrdenDespacho</ResourceId>
    <ResourceName>GeneracionOrdenDespacho</ResourceName>
    <ResourceGroup>miso-rg</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://generacionordendespacho.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>4cfef334-5efe-48bf-a29a-c87f727bc9f0</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>